.container {
  width: 1140px;
  margin: 0 auto;
}
.header {
  background-color: rgb(9, 133, 186);
}
.title {
  color: rgb(10, 237, 10);
}
.section {
  padding: 50px;
  background-color: rgb(29, 135, 255);
}
.footer {
  padding: 20px;
  background-color: rgb(103, 102, 102);
}
.footer__text {
  font-size: 20px;
  color: chartreuse;
}
